<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <script src="https://kit.fontawesome.com/86beb53b09.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    <style>
        html,
        body {
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            text-align: center;
        }
    </style>

</head>

<body>
    <div>
        <form action="{{url_for('admin_page.login')}}" method="post">
            <div class="login-container">
                <i class="fa-solid fa-user fa-2xl user-icon"></i>
                <div>
                    <input type="password" name="password">
                    <br> <br>
                    <input type="submit" value="Login">
                    <br> <br>
                    <a href="{{url_for('homepage')}}">Home</a>
                </div>
            </div>
        </form>
        <br> <br>
        {% if error != None %}
        {% if error == True %}
        <h3>Login non riuscito</h3>
        {% else %}
        <h3>Login riuscito</h3>
        <a href="/">Vai</a>
        {% endif %}
        {% endif %}
    </div>



</body>

</html>