<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://kit.fontawesome.com/86beb53b09.js" crossorigin="anonymous"></script>
    <title>Album</title>

    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/style-mobile.css">
    <script src="../static/jquery.min.js"></script>

</head>

<body>
    <div>
        <h1 id="top">Your Album</h1>
        <a href="/"><i class="fa-solid fa-house home-icon"></i></a>
    </div>
    <div style="display: flex; align-items: center; justify-content: center;">
        <input type="checkbox" name="privacy_mode_btn" id="privacy_mode_btn" checked> Privacy Mode
    </div>
    <div id="task-container">
        {% for task in album %}
        <table>
            <tr>
                <td>
                    <img oncontextmenu="return false" name="thumb-img" class="hide-thumb" src="{{task['src']}}" />
                </td>
            </tr>
            <tr>
                <td>Id: {{task['id']}}</td>
            </tr>
            <tr>
                <td><a href="{{task['link']}}" target="_blank">Link</a></td>
            </tr>
            <tr>
                <td>Desc: {{task['desc']}}</td>
            </tr>
            <tr>
                <td style="font-size: small;">Date: {{task['date']}}</td>
            </tr>

        </table>
        {%endfor%}

        <a href="#top" class="back-to-home"><i class="fa-solid fa-arrow-up"></i></a>

    </div>

    <script>

        $('#privacy_mode_btn').change((e)=>{
            if(e.target.checked)
                $('img[name="thumb-img"]').addClass('hide-thumb');
            else
                $('img[name="thumb-img"]').removeClass('hide-thumb');

        })

    </script>
</body>

</html>